body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  height: 10%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: left;
  padding-left: 20px;
  background: url(.\simbelogo.png);
}

.menu {
  flex-direction: row;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 30px;
  padding: 10;
}

.menu li {
  padding: 5px;
}

#topHome {
  font-weight: bold;
  background-color: rgba(204, 197, 197, 0.3);
  border-radius: 15px;
}

#bottomHome {
  font-weight: bold;
}

#home {
  border: black;
  margin: 4px 4px;
  border-radius: 8px;
}

.login {
  display: flex;
  height: 20px;
  margin: 30px;
  justify-content: space-evenly;
  width: 175px;
}

#login {
  display: flex;
  /* justify-content: end; */
  background-color: orangered;
}

#signup {
  display: flex;
  /* justify-content: end; */
  background-color: rgb(95, 46, 211);
}

.coaching {
  color: white;
  text-align: center;
}

.coaching h3 {
  width: 60%;
  margin: auto;
}

.trial {
  padding: 20px;
}

#try {
  background-color: orangered;
}

#tour {
  background-color: rgb(95, 46, 211);
}

iframe {
  border: solid black 15px;
}

.splash {
  display: flex;
  flex-direction: column;
  /* max-width: vw; */
  align-items: center;
  height: 400px;
  background: #484848;
  background: linear-gradient(to bottom, #484848 0%, #484848 72%, #c5c5c5 100%);
}

.school {
  text-align: center;
  /* max-width: 100%; */
}

table {
  height: 300px;
  text-align: center;
  /* max-width: auto; */
}

#mission td,
#mission th {
  border: 1px solid white;
  padding: 8px;
}
.mission {
  flex-direction: row;
  height: 20%;
}

.social {
  display: flex;
  justify-content: space-evenly;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.social > div {
  width: 600px;
  background-color: rgb(245, 244, 243);
}

.title {
  font-weight: bold;
}

.lione {
  list-style-image: url(./images/noteicon.jpg);
  font-weight: bold;
}

.litwo {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 30px;
}

.blog {
  padding: 30px;
}

.quotes {
  border-left: solid 1px black;
  /* background: linear-gradient(to bottom, #484848 0%, #484848 72%, #c5c5c5 100%); */
  padding: 30px;
}

.quoteSpace {
  padding-bottom: 30px;
}

.quote {
  list-style-image: url(./images/quoteicon.jpg);
  font-style: italic;
}

.name {
  font-weight: bold;
  padding-bottom: 30px;
}

.address {
  font-weight: bold;
  color: grey;
  padding-bottom: 30px;
}

.tweetone {
  border-bottom: solid black 1px;
  padding: 10px;
}

.tweettwo {
  border-bottom: solid black 1px;
  padding: 10px;
}

.tweets {
  border-left: solid 1px black;
  /* background: linear-gradient(to bottom, #484848 0%, #484848 72%, #c5c5c5 100%); */
  padding: 30px;
}

.tweet {
  list-style-type: none;
  font-weight: bold;
}

.light {
  font-weight: lighter;
  color: grey;
  font-size: smaller;
}

.date {
  float: right;
  font-weight: lighter;
  color: grey;
}

.tweetpic {
  float: left;
}

.top {
  display: flex;
  justify-content: space-between;
}

#followSimbe {
  border-radius: 5px;
}

#twitter {
  background-color: rgb(42, 226, 233);
}

#facebook {
  background-color: #1f1cc7;
}

.final {
  text-align: center;
}
